body {
  background-color: #E0EDE7;
  margin: 15px;
  padding-bottom: 20px;
  font-family: 'Titillium Web', sans-serif;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: #2f3e1a;
  font-size: 50px;
  font-family: 'Titillium Web', sans-serif;
}

#studentSearch{
  border-radius: 10px;
  border: solid 2px #1D2422;
  font-family: 'Titillium Web', sans-serif;
  background-color: #f0f6f3;
}

header {
  font-size: 25px;
  font-family: 'Titillium Web', sans-serif;
  margin-top: 20px;
  padding-top: 10px;
}

#studentName {
  font-family: 'Titillium Web', sans-serif;
  font-size: 30px;
  font-weight: 300px;
  color: #1D2422;
  border-top: solid 5px #2f3e1a;
}

h4 {
  font-size: 20px;
  color: #2f3e1a;
  font-weight: 400;
}

#courses {
  display: flex;
  flex-wrap: wrap;
  margin: 9px;
  padding: 9px;
}

#courses > div > h3 {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font-weight:400;
}

#courses > div > p {
  margin: 4px;
  padding: 0px;
  font-style: italic;
  font-size: 12px;
}

#courses > div {
  text-align: center;
}

.done {
  border: solid 2px #4f672c;
  color: #2f3e1a;
  border-radius: 4px;
  padding: 6px;
  margin: 6px;
  background-color: #BBD398;
}

.notdone {
  border: solid 1px grey;
  border-radius: 4px;
  padding: 6px;
  margin: 6px;
  opacity: 50%;
}

